.re1{
    font-size: 200px;
    position: absolute;
    top: 500px;
    right: 1000px;
}
.re2{
    font-size: 200px;
    position: absolute;
    top: 500px;
    right: 650px;
}
.re3{
    font-size: 200px;
    position: absolute;
    top: 500px;
    right: 300px;
}